ul {
    list-style: none;
    padding-left: 0;
  }

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.tabs {
    display: flex;
  }

.tabs-title {
    padding: 20px;
    background-color: #8e00aa;
    color: #ffffff;
    cursor: pointer;
  }

.tabs-title.active {
    background-color: #00f7ff;
    color: #23201d;
  }
  .tabs-content li{
      display: none;
  }
  .tabs-content li.active{
      display: block;
  }